{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}ChipIn{% endblock %}
{% block content %}
    <h1>ChipIn</h1>
    <h2>Course Invitations</h2>
    <div class="invitation-notification">
        {% if pending_invitations %}
            <ul>
                {% for group in pending_invitations %}
                    <li>
                        You have been invited to join <strong>{{ group.name }}</strong>.
                        <a href="{% url 'chipin:accept_invite' group.id %}?user_id={{ request.user.id }}">Accept</a>
                    </li>
                {% empty %}
                    <li>No pending course invitations.</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No pending course invitations.</p>
        {% endif %}
    </div>

    <h2>Your Courses</h2>
    <ul>
        {% for group in user.group_memberships.all %}
        <li>
            <a href="{% url 'chipin:group_detail' group.id %}">{{ group.name }}</a>
            {% if group.admin == request.user %}
                <a href="{% url 'chipin:delete_group' group.id %}" onclick="return confirm('Are you sure you want to delete this course?');">Delete</a>
            {% else %}
                <a href="{% url 'chipin:leave_group' group.id %}" onclick="return confirm('Are you sure you want to leave this course?');">Leave</a>
            {% endif %}
        </li>
        {% empty %}
        <li>You are not a member of any courses yet.</li>
        {% endfor %}
    </ul>
    {% if user.permissions == True %}
    <a href="{% url 'chipin:create_group' %}">Create a New Group</a>
    {% endif %}

    <h2>Available Courses to Join</h2>
    <ul>
        {% for group in available_groups %}
        <li>
            <a href="{% url 'chipin:group_detail' group.id %}">{{ group.name }}</a>
            <span>- Teacher: {{ group.admin.profile.nickname }}</span>
        </li>
        {% empty %}
        <li>No Courses available to join.</li>
        {% endfor %}
    </ul>
{% endblock %}